@model List<Aluno>

@{
    ViewData["Title"] = "Alunos";
}

    <h1 class="text-center">Lista de Alunos</h1>

    <mensagem texto="@TempData["msg"]" class="alert alert-danger"></mensagem>

<a asp-action="cadastrar" class="btn btn btn-primary">Cadastrar</a>

    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Telefone</th>
            <th>Curso</th>
            <th>Sexo</th>
        </tr>
    @foreach (var c in Model)
    {
            <tr>
                <td>@c.Nome</td>
                <td>@c.Sobrenome</td>
                <td>@c.Telefone</td>
                <td>@c.Curso</td>
                <td>@c.Sexo</td>
                <td>

                    <a asp-action="editar" class="btn btn-sm btn-outline-primary"
               asp-route-id="@c.Id">Editar</a>

                    <button onclick="alunoId.value = @c.Id" type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Remover
                    </button>
                </td>
            </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente apagar o aluno?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input name="id" type="hidden" id="alunoId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>